
#define fnt1   FixedFixedsys
#define fnt2   Inconsolata
#define fntsz1   12
#define fntsz2   18

#include ".xfiles/themes/gruvbox"
! #include ".xfiles/themes/solarized-dark"

#include ".xfiles/colors"
#include ".xfiles/urxvt"

budstyle.accent: blu
budstyle.bg1: blk
budstyle.bg2: bg
budstyle.fg1: fg
budstyle.fg2: wht2
budstyle.redish : red
budstyle.font1 : fnt1
budstyle.fontsz1 : fntsz1

! .Xresources syntax:

! include file (OBS! quotes are important):
! #include "PATH_RELATIVE_TO_XRESOURCES"

! define variable:
! #define  VARNAME VALUE

! custom resource:
! name.class.type: value/variable

! -------------------------------

! commandline commands:

! load xresources:
! ~/.xinitrc:
! [[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources
!
! ~/.config/i3/config:
! set $HOME ABSOLUTE_PATH_TO_HOMEFOLDER (/home/bud)
! exec --no-startup-id xrdb -merge -I$HOME ~/.Xresources
! exec --no-startup-id exec i3-msg -q restart

! merge new changes:
! xrdb -merge ~/.Xresources

! replace .Xresources
! xrdb -load ~/.Xresources

! list current settings in .Xresources:
! xrdb -query

! list installed fonts:
! fc-list | grep FONTNAME

! instant font test:
! printf '\e]710;%s\007' "xft:FONT"


! :antialias=false <- if it works for you, its good

! -------------------------------

! use xresource in i3:
! set_from_resource $VARIABLE  XRESOURCE  DEFAULT_VALUE

! use xresource in polybar:
! VARNAME = ${xrdb:XRESOURCE:DEFAULT}

! get xresource from script
! VAR=$(xrdb -query | awk '$1 ~ XRESOURCE":" {print $2}')

! subl --command 'two_face {"face":"solarized-dark"}'
! syntax:ssExcla
